<h1>All movies of the <%=@list.name%>'s list</h1>

<%if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400 %>
><%end%>

  <% @list.movies.each do |movie| %>
    <div class='container'>
      <ul>
        <li><%=movie.title%> | <%=movie.rating%></li>
        <li><%=movie.overview%></li>
        <li><%=movie.poster_url%></li>
      </ul>
    </div>
  <%end%>

  <%= link_to 'Back to lists', lists_path%>

<h2>All comments</h2>
<%# afficher toutes les listes du film et lonk  add a comment %>
<%=link_to "+ Add a comment", new_list_bookmark_path(@list) %>
<% @list.bookmarks.each do |bookmark|%>
  <ul>
  <li><%=bookmark.comment%><li>
  </ul>
<%end%>
